@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  background-color: '#FFFCF7';
  color: rgb(15 33 55);
}

.menu-item {
  transition: ease-in 0.4s;
}

.button-item {
  transition: ease-out 0.3s;
}

.hover-effect:hover {
  filter: invert(0.5);
}
